<div class=" main-color text-center text-light ">
<div class="row container mx-auto d-flex align-items-center justify-content-center p-5">
    
<div class="col-sm-12 col-md-6 col-lg-4">
<h4>LOCATION</h4>
<p class="fs-7">2215 John Daniel Drive</p>
<p class="fs-7">Clark, MO 65243</p>

</div>
<div class="col-sm-12 col-md-6 col-lg-4">
    <h4>AROUND THE WEB</h4>
    <div class="icons p-2">
        <i class="fa-brands fa-facebook m-1 border border-1 rounded-5 p-2"></i>
        <i class="fa-brands fa-twitter m-1 border border-1 rounded-5 p-2"></i>
        <i class="fa-brands fa-linkedin-in m-1 border border-1 rounded-5 p-2"></i>
        <i class="fa-solid fa-globe m-1 border border-1 rounded-5 p-2"></i>
        </div>



    </div>
    
    <div class="col-sm-12 col-md-6 col-lg-4">
        <h4 >ABOUT FREELANCER</h4>
        <p class="fs-7">Freelance is a free to use, licensed Bootstrap theme created by Route</p>
        </div>
        



</div>




</div>


<div class="color2 p-3 text-center">

<p class="text-light">Copyright © Your Website 2021</p>

</div>




















