



<nav class="navbar navbar-expand-lg text-light main-color p-2 mb-5">
    <div class="container">
      <a class="navbar-brand text-light fs-3 fw-bold" routerLink="home">START FRAMEWORK</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto">
          <a class="nav-link active fs-8 fw-bold" aria-current="page" routerLinkActive="color-light-green text-light rounded-3"  routerLink="about">ABOUT</a>
          <a class="nav-link fs-8 fw-bold"routerLinkActive="color-light-green text-light rounded-3" routerLink="portfolio" >PORTFOLIO</a>
          <a class="nav-link fs-8 fw-bold"routerLinkActive="color-light-green text-light rounded-3"  routerLink="contact">CONTACT</a>

        </div>
      </div>
    </div>
  </nav>










