<section class="pt-5">


<div class="m-5 ">
    <h3 class="fw-bold fs-2 color3 text-center " >CONTACT SECTION</h3>
    <div class="d-flex align-items-center justify-content-center ">
           <div class="line-color"> </div>
           <i class="fa-solid fa-star mx-2 color3"></i>
           <div class="line-color"> </div>
    </div>
   <div>
      <p #p1 class="w-50 mx-auto fs-8 text-color d-none">userName :</p>
   <input  #input1 class="w-50 form-control mx-auto mb-5 fs-8 border border-top-0 border-start-0 border-end-0" type="text" placeholder="userName" (keyup)="showinput1()" >
   <p #p2 class="w-50 mx-auto fs-8 text-color d-none">userAge :</p>
   <input  #input2 class="w-50 form-control mx-auto mb-5 fs-8 border border-top-0 border-start-0 border-end-0" type="text" placeholder="userAge"(keyup)="showinput2()" >
   <p #p3 class="w-50 mx-auto fs-8 text-color d-none ">userEmail :</p>
   <input #input3 class="w-50 form-control mx-auto mb-5 fs-8 border border-top-0 border-start-0 border-end-0" type="email" placeholder="userEmail" (keyup)="showinput3()">
   <p #p4 class="w-50 mx-auto fs-8 text-color d-none">userPassword :</p>
   <input #input4 class="w-50 form-control mx-auto mb-5 fs-8 border border-top-0 border-start-0 border-end-0" type="password" placeholder="userPassword" (keyup)="showinput4()">
 <div class="w-50 mx-auto">
       <button class="btn  text-light fs-7" style="background-color: #1ABC9C;">Send Message</button>

 </div>

</div>

   </div>






</section>












