
<section class="container   pt-5">
       <div class="m-5 text-center">
    <h3 class="fw-bold fs-2 color3" >PORTFOLIO COMPONENT</h3>
    <div class="d-flex align-items-center justify-content-center ">
           <div class="line-color"> </div>
           <i class="fa-solid fa-star mx-2 color3"></i>
           <div class="line-color"> </div>
    </div>
   
   
   </div>

<div class="row g-4 mb-5">
       <div class="col-sm-12 col-md-6 col-lg-4 ">
              <div class="position-relative imgs"(click)="showImg1()">
                   <img #img1 [src]="imgs[0]" class="w-100 rounded-2 overflow-hidden" >
<div class="layer rounded-2 d-flex justify-content-center align-items-center">

       <i class="fa-solid fa-plus text-light fs-1 fw-bold"></i>

   </div>  
              </div>
              
             <div #ref2 #layerover1 class="layerover1 d-flex justify-content-center align-items-center d-none" (click)="close()">
                     <div class=" d-flex justify-content-center align-items-center">
                         
                      <img [src] ="imgs[0]" alt="" class="w-50 ">

                     
                     </div>
                     
                     </div>
       </div>




       <div class="col-sm-12 col-md-6 col-lg-4 ">
              <div class="position-relative imgs" (click)="showImg2()">
                   <img #img1 [src]="imgs[1]" class="w-100 rounded-2 overflow-hidden">
<div class="layer rounded-2 d-flex justify-content-center align-items-center">

       <i class="fa-solid fa-plus text-light fs-1 fw-bold"></i>

   </div>  
              </div>
              <div #ref2 #layerover2 class="layerover1 d-flex justify-content-center align-items-center d-none" (click)="close()">
                     <div class=" d-flex justify-content-center align-items-center">
                         
                      <img [src] ="imgs[1]" alt="" class="w-50 ">

                     
                     </div>
                     
                     </div>
       </div>




       <div class="col-sm-12 col-md-6 col-lg-4 ">
              <div class="position-relative imgs" (click)="showImg3()">
                   <img #img1 [src]="imgs[2]" class="w-100 rounded-2 overflow-hidden">
<div class="layer rounded-2 d-flex justify-content-center align-items-center">

       <i class="fa-solid fa-plus text-light fs-1 fw-bold"></i>

   </div>  
              </div>
              <div #ref2 #layerover3 class="layerover1 d-flex justify-content-center align-items-center d-none" (click)="close()">
                     <div class=" d-flex justify-content-center align-items-center">
                         
                      <img [src] ="imgs[2]" alt="" class="w-50 ">

                     
                     </div>
                     
                     </div>

       </div>
       <div class="col-sm-12 col-md-6 col-lg-4 ">
              <div class="position-relative imgs" (click)="showImg4()">
                   <img #img1 [src]="imgs[0]" class="w-100 rounded-2 overflow-hidden">
<div class="layer rounded-2 d-flex justify-content-center align-items-center">

       <i class="fa-solid fa-plus text-light fs-1 fw-bold"></i>

   </div>  
              </div>
              <div #ref2 #layerover4 class="layerover1 d-flex justify-content-center align-items-center d-none" (click)="close()">
                     <div class=" d-flex justify-content-center align-items-center">
                         
                      <img [src] ="imgs[0]" alt="" class="w-50 ">

                     
                     </div>
                     
                     </div>
       </div>
       <div class="col-sm-12 col-md-6 col-lg-4 ">
              <div class="position-relative imgs" (click)="showImg5()">
                   <img #img1 [src]="imgs[1]" class="w-100 rounded-2 overflow-hidden">
<div class="layer rounded-2 d-flex justify-content-center align-items-center">

       <i class="fa-solid fa-plus text-light fs-1 fw-bold"></i>

   </div>  
              </div>
              <div #ref2 #layerover5 class="layerover1 d-flex justify-content-center align-items-center d-none" (click)="close()">
                     <div class=" d-flex justify-content-center align-items-center">
                         
                      <img [src] ="imgs[1]" alt="" class="w-50 ">

                     
                     </div>
                     
                     </div>
       </div>
                                          
       <div class="col-sm-12 col-md-6 col-lg-4 ">
              <div class="position-relative imgs" (click)="showImg6()">
                   <img #img1 [src]="imgs[2]" class="w-100 rounded-2 overflow-hidden">
<div class="layer rounded-2 d-flex justify-content-center align-items-center">

       <i class="fa-solid fa-plus text-light fs-1 fw-bold"></i>

   </div>  
              </div>
              <div #ref2 #layerover6 class="layerover1 d-flex justify-content-center align-items-center d-none" (click)="close()">
                     <div class=" d-flex justify-content-center align-items-center">
                         
                      <img [src] ="imgs[2]" alt="" class="w-50 ">

                     
                     </div>
                     
                     </div>
       </div>


</div>





</section>







